#intro
  %h1 explica is a simple tool for working with difficult text

  %p Enter any text that contains many difficult words. Then you can click on any word to get a dictionary definition or wikipedia page.

  %p== Try it below or check out a #{link_to 'sample', @sample_doc}.

#new
  %a{:name => 'new'}

  %h2 Enter text or a webpage URL

  = form_for @document do |f|
    = f.error_messages
    %fieldset
      %ul
        %li= f.text_area :original, :cols => 75, :rows => 10
        %li.submit= f.submit 'Submit'
        %li.is_public
          = f.label :is_public, 'Make public'
          = f.check_box :is_public

%hr.welcome

#recent
  - if false
    #recent_user
      %h2 Recently opened by you
  
  #recent_public
    %h2 Recent documents
    - if !@recent_documents.empty?
      %ul.documents= render :partial => 'document', :collection => @recent_documents
      %p= link_to 'view more', documents_path
    - else
      %p None.

#samples