!!!
%html
  %head
    %title Explica - advanced text comprehension tool
    = stylesheet_link_tag "reset", "application", "documents"
    = stylesheet_link_tag "ui-lightness/jquery-ui-1.8.1.custom"
    = stylesheet_link_tag "http://bits.wikimedia.org/skins-1.5/common/commonPrint.css?281b"
    = csrf_meta_tag
  %body{:id => "body-#{controller_name}"}
    #primary_wrapper
      #secondary_wrapper
        #header
          #navbar
            %ul
              %li= link_to 'create new document', new_document_path
          #logo= link_to "Explica", :root
        #main_content
          - if @sidebar_present
            #main_content_inner_with_sidebar= yield
          - else
            #main_content_inner= yield

    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag "jquery.equalheights"
    = javascript_include_tag "jquery-ui-1.8.1.custom.min"
    = javascript_include_tag "application"