!!!
%html
  %head
    %title Explica - advanced text comprehension tool
    = stylesheet_link_tag 'reset', 'application'
    - if controller_name == 'documents' && action_name == 'show'
      = stylesheet_link_tag 'documents', 'wikipedia'

    = csrf_meta_tag
  %body{:id => "body-#{controller_name}-#{action_name}"}
    #primary_wrapper
      #secondary_wrapper
        #header_wrapper
          #header
            #navbar
              = link_to 'new document', new_document_path
              \|
              = link_to 'recent documents', documents_path
            #logo= link_to "Explica", :root
        #main_content
          - if @sidebar_present
            #main_content_inner_with_sidebar= yield
          - else
            #main_content_inner= yield
        #footer_wrapper
          #footer
            &copy; #{Time.now.year}
            = link_to 'Dermot Brennan', 'http://www.dermotbrennan.net', :target => '_blank'

    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    - base_js_files = ['jquery.equalheights.js', 'jquery-ui-1.8.1.custom.min.js', 'application.js', 'rails.js']
    - base_js_files << 'google_analytics.js' if Rails.env.production?
    = javascript_include_tag base_js_files